* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  margin: 20px;
}

#game div {
  border: 3px solid black;
  width: 10%;
  height: 200px;
  margin: 8px;
  display: inline-block;
}

#win-msg {
  font-size: x-large;
  margin-left: 50px;
  padding: 20px;
  background-color: cornflowerblue;
}

button.start-btn {
  width: 90px;
  height: 50px;
  font-size:x-large;
  margin-left: 40px;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

.header {
  display: flex;
  justify-content:space-between;
  background-color: lightseagreen;
}

p {
  margin-left: 20px;
  font-size: x-large;
}

